@model GudSafe.Data.ViewModels.AdminSettingsViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Admin Settings";
}

<div>
    @Html.ValidationSummary()
    
    @using (Html.BeginForm("CreateUser", "Dashboard", FormMethod.Post))
    {
        <div class="form-group">
            @Html.LabelFor(m => m.NewUserUsername, "Username")
            @Html.TextBoxFor(m => m.NewUserUsername, new {@class = "form-control", type = "text", placeholder = "Username"})
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.NewUserPassword, "Generated Password")
            @Html.TextBoxFor(m => m.NewUserPassword, new {@class = "form-control", type = "text", @readonly = "readonly", placeholder = "New password"})
        </div>

        <div class="form-group mb-2">
            <button class="btn btn-primary" type="submit">Create User</button>
        </div>
    }
</div>