@model GudSafe.Data.ViewModels.AdminSettingsViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Admin Settings";
}

<div>
    @Html.ValidationSummary()
    
    <h1 class="display-6 mt-1">Create new user</h1>
    @using (Html.BeginForm("CreateUser", "Dashboard", FormMethod.Post))
    {
        <div class="form-group">
            @Html.LabelFor(m => m.NewUserUsername, "Username")
            @Html.TextBoxFor(m => m.NewUserUsername, new {@class = "form-control", type = "text", placeholder = "Username"})
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.NewUserPassword, "Generated Password")
            @Html.TextBoxFor(m => m.NewUserPassword, new {@class = "form-control", type = "text", @readonly = "readonly", placeholder = "New password"})
        </div>

        <div class="form-group row">
            <button class="btn btn-gudsafe-primary m-2 col" type="submit">Create User</button>
        </div>
    }
    
    @if (Model.Users != null)
    {
        <h1 class="display-6 mt-1">Reset users password</h1>
        @using (Html.BeginForm("ResetPasswordOfUser", "Dashboard", FormMethod.Post))
        {
            <div class="form-group">
                @Html.LabelFor(m => m.SelectedUser, "Select user to reset password")
                @Html.DropDownListFor(m => m.SelectedUser, selectList: new SelectList(Model.Users, "Value", "Text"), new {@class="form-control" })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.ResetUserPwNewPassword, "Generated Password")
                @Html.TextBoxFor(m => m.ResetUserPwNewPassword, new {@class = "form-control", type = "text", @readonly = "readonly", placeholder = "New password"})
            </div>

            <div class="form-group row">
                <button class="btn btn-danger m-2 col" type="submit">Reset password</button>
            </div>
        }
    }
</div>