@using System.Globalization
@model GudSafe.Data.ViewModels.GalleryViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = @Model.Username + "'s Gallery";
}
<div class="text-center">
    <div class="row">

        @{
            foreach (var file in Model?.Files)
            {
                <div class="col-lg-4 col-md-12 mb-4 ">
                    <div class="uploadBox">
                        <a href="@Context.Request.Scheme://@Context.Request.Host/files/@file.UniqueId">
                            <img class="upload" src="@Context.Request.Scheme://@Context.Request.Host/files/@file.UniqueId/thumbnail"/>
                        </a>
                    </div>

                    <div class="align-self-end">
                        <p>@file.CreationTime.ToString("f", new CultureInfo("en-us"))</p>
                        <hr/>
                        <form class="align-self-end" method="post" asp-controller="Dashboard" asp-action="Delete" asp-route-id="@file.UniqueId">
                            <button class="btn btn-danger align-self-end">Delete</button>
                        </form>
                    </div>
                </div>
            }
        }

    </div>
</div>