@model GudSafe.Data.ViewModels.UserSettingsViewModel

@{
    ViewData["Title"] = "User Settings";
}

<div class="container">
    <form id="resetApiKey" class="mb-4">
        <label for="apikey" class="form-label">API-Key</label>
        <div class="input-group">
            <input class="form-control" style="border-radius: 5px 0px 0px 5px" id="apikey" type="text" disabled="disabled" placeholder="APIKEY" value="@Model.ApiKey"/>
            <button class="btn btn-danger" type="button" onclick="resetApiKey()" style="border-radius: 0px 5px 5px 0px">Reset API Key</button>
        </div>
    </form>

    <h1 class="display-6">Change password</h1>

    @Html.ValidationSummary()

    @* @using (Html.BeginForm("ChangePassword", "Dashboard", new {returnUrl = Context.Request.Query["returnUrl"]}, FormMethod.Post)) *@
    <form id="changePassword">
        <div class="mb-2">
            @Html.LabelFor(m => m.Password, "Password", new {@class = "form-label"})
            @Html.TextBoxFor(m => m.Password,
                new {@class = "form-control", autocomplete = "current-password", id = "current-password", required = true, type = "password", placeholder = "Password"})
        </div>

        <div class="mb-2">
            @Html.LabelFor(m => m.NewPassword, "New Password", new {@class = "form-label"})
            @Html.TextBoxFor(m => m.NewPassword,
                new {@class = "form-control", autocomplete = "new-password", id = "new-password", required = true, type = "password", placeholder = "New password"})
        </div>

        <div class="mb-4">
            @Html.LabelFor(m => m.ConfirmNewPassword, "Confirm New Password", new {@class = "form-label"})
            @Html.TextBoxFor(m => m.ConfirmNewPassword,
                new {@class = "form-control", autocomplete = "new-password", id = "new-password", required = true, type = "password", placeholder = "Confirm new password"})
        </div>

        <div class="d-flex justify-content-center">
            <button class="btn btn-primary flex-fill" type="button" onclick="changePassword()">Change password</button>
        </div>
    </form>
</div>

@section Scripts {
<script>
    function changePassword() {
        let data = $("#changePassword").serialize();
    
        $.ajax({
            url: "@Url.Action("ChangePassword")",
            type: "POST",
            contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
            data: data,
            success: function (result) {
                if (result.success) {
                    $("#changePassword").trigger("reset");
                }
            },
        });
    }

    function resetApiKey() {
        $.ajax({
            url: "@Url.Action("ResetApiKey")",
            type: "POST",
            contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
            success: function (result) {
                if (result.success) {
                    $("#apikey").val(result.apiKey);
                }
            },
        });
    }
</script>
}