@model GudSafe.Data.ViewModels.LoginViewModel

@{
    ViewData["Title"] = "Login™ powered by Logout";
    Layout = null;
}

<div>
    <form id="login">
        <div class="form-group">
            @Html.LabelFor(m => m.Name, "Name", new {@class = "form-label"})
            <input id="@nameof(Model.Name)" name="name" class="form-control" placeholder="Enter password" autocomplete="username"/>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Password, "Password", new {@class = "form-label"})
            <input id="@nameof(Model.Password)" type="password" name="password" class="form-control" placeholder="Enter password" autocomplete="current-password"/>
        </div>

        <div class="row">
            <button class="btn btn-primary col m-3" type="submit" accesskey="enter">Login</button>
        </div>
        @Html.AntiForgeryToken()
    </form>
</div>

<script>
    $(function () {
        $("#login").submit(function (e){
            e.preventDefault();
            Login();
        });
    });

    function Login() {            
        let form = $("#login");
        let data = form.serialize();

        let reqUrl = "@Url.Action("Login")";

        if (window.location.search) {
            reqUrl += window.location.search;
        }
        
        $.ajax({
            url: reqUrl,
            type: "POST",
            data: data,
            success: function (result) {
                if (result.success) {
                    window.location.href = result.redirectUrl;
                }
            },
            error: function (xhr, status, error) {
                alert("Error: " + error);
            }
        });
    }
</script>