@model GudSafe.Data.ViewModels.LoginViewModel

@{
    ViewData["Title"] = "Login™ powered by Logout";
}

<div>
    <form id="login">
        <div class="form-group">
            @Html.LabelFor(m => m.Name, "Name", new {@class = "form-label"})
            <input id="@nameof(Model.Name)" name="name" class="form-control" placeholder="Enter username" autocomplete="username"/>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Password, "Password", new {@class = "form-label"})
            <input id="@nameof(Model.Password)" type="password" name="password" class="form-control" placeholder="Enter password" autocomplete="current-password"/>
        </div>

        <div class="row">
            <button class="btn btn-primary col m-3" type="submit" accesskey="enter">Login</button>
        </div>
        @Html.AntiForgeryToken()
    </form>
</div>

@section Scripts {
    <script src="~/js/login.js"></script>
}